<%= stylesheet_link_tag 'posts_styles'%>
<h1>Posts of <%= @user.name %></h1>
<section class='user-posts'>
<section class='user-detail box-border'>
  <%= image_tag(@user.photo) %>
  <div class='user-info'>
    <h2 class='user-name'><%= @user.name %></h2>
    <p class= 'user-posts'>Number of Posts: <%= @user.post_counter %></p>
  </div>
</section>

<section class='posts-list'>
  <% @posts.each do |post| %>
    <div class='box-border'>
     <article class='posts box-border'>
          <h2><%= "#{post.title}" %></h2>
          <br>
          <p><%= post.text%></p>
          <%= link_to user_post_path(@user.id, post.id) do %>
            <p class='show-more'>Show more</p>
          <% end %>
          <p class='post-reactions'><%= "Comments: #{post.comments_counter}, Likes: #{post.likes_counter}"%></p>
        </article>
      <div class='comments box-border'>
        <h3>Comments</h3>
        <% post.recent_comments.each do |comment| %>
          <div class='comment'>
            <p class='user-comment'><%= comment.author.name %>: </p>
            <p class='comment-text'><%= comment.text %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
</section>